<% include partials/header %>
<% include partials/navbar %>
<div class="listContainer">
    <!-- <div class="innerCont">
        <h2>Title</h2>
        <h3>Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad praesentium suscipit ullam deserunt in harum illum neque, laborum magnam quia.</h3>
        <h4>Status: <i class="fas fa-check"></i> </h4>
        <i class="fas fa-pencil-alt"></i>
        <i class="fas fa-times"></i>
    </div> -->
</div>
<div class="openModal">
   <div class="updateField">
        <i class="far fa-times-circle"></i>
       <form>
            <h2>Update title</h2>
           <input type="text" name="title" value="some title">
           <textarea name="content" id="" cols="30" rows="10">some content</textarea>
           <label for="check">
                <input name="check" type="checkbox">
                Status
           </label>
           <input type="submit" value="Submit">
       </form>
   </div>
</div>
<% include partials/footer %>